<% provide(:title, @user.name) %>

<div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <h3>投稿一覧</h3>
      </div>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </div>
    <%= render 'shared/feed' %>
  </div>
</div>