<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  </div>
<% else %>
  <div class="center ">
    <h1>triprideへようこそ</h1>
    <h2>
      旅行記を見たり投稿したりしよう！
    </h2>
    <h3 style="color : red">テスト用のログインidはログインページにあります</h3>
    

    <%= link_to "登録はこちらから", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>