<% provide(:title, "Log in") %>
<h1>ログイン</h1>
<div class="test-id">
  <p><font color="red">テスト用メールアドレス　sampleuser@gmail.com
  <br>パスワード　tripsample</font></p>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email , "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me,  class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動でログインする</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>ユーザー登録はまだですか？ <%= link_to "新規登録はこちらから", signup_path %></p>
  </div>
</div>