<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, 'ユーザー検索' %>
  <div class="input-group">
    <%= f.text_field :name_cont, placeholder: "ユーザー名を入れてください",
                      class: 'form-control' %>
    <span class="input-group-btn">
     <%= f.submit '検索', class: "btn btn-primary" %>
    </span>
  </div>
<% end %>