<% provide(:title, 'Edit user') %>
<% provide(:button_text, '変更を保存する') %>
<h1>プロフィール更新</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">変更</a>
    </div>
  </div>
</div>