<footer class="navbar navbar-fixed-bottom bg-success">
  <nav>
    <ul>
      <li><%= link_to "triprideとは",   about_path %></li>
      <li><%= link_to "コンタクト", contact_path %></li>
    </ul>
  </nav>
</footer>